/*that roboto font we need*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
/* to make the background color borderless within the section*/
*{
    margin: 0;
    padding: 0;
}

.herosection{
    background-color: #1f2937;
}

#headerlogo{
    font-size: 24px;
    color: #f9faf8;
}

.hlinks{
    font-size: 18px;
    color: #e5e7eb;
    margin: 12px;
}

.hero_navgbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
    /*removing bullets from ul*/
    list-style: none;
}
/*to align the headerlogo and divbars align*/
.hero_navgbarlft, .hero_navgbarrht{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

/*second half of the hero section*/
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.herosec_section{
    display: flex;    
    flex-direction: row;
    /*to give better positioning to this content*/
    margin: 50px;
}
/*aligning left and right content to their respective side*/
.herosec_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
    justify-content: center;
    margin-left: 205px;
}

.herosec_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

img{
    margin-bottom: 40px;
}

.hparag{
    font-size: 18px;
    color: #e5e7eb;
}

.hero_signup{
    background-color: #3882f6;
    color: white;
    width: 105px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

/*blue boxes section*/

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.spaceblueboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.bluebox{
    border: 4px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.secondsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pbelowbox{
    text-align: center;
    font-size: 18px;
}

.thirdsec{
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: center;
}

.quoteauth{
    font-size: 20px;
    font-weight: bold;
}

.quotebx{ 
    display: flex;
    justify-content: flex-end;
    margin-right: 230px;
}

.fourthsec{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupbx{
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    border-radius: 7px;
}

.fourthlft{
    width: 85%;
    margin-left: 85px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

h4{
    font-size: 24px;
    color: white;
}

.signmsg{
    color: white;
    font-size: 18px;
}

.fourthrght{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signbtn{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 200px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 70px;
}